<!-- Navigation -->
<div th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="../" class="navbar-brand">EOS BIG DATA</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse"	data-target="#navbar-main">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/windows">Windows</a></li>
				<li><a href="/dynamic">Dynamic</a></li>
				<li><a href="/topicLabel">Topic Label</a></li>
			</ul>
		</div>
	</div>
</div>