<div th:fragment="windowTopics">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"><h2>Window Topics</h2></div>
			<div class="panel-body">
				<div class="form-group">
					<label for="sel1">Select a topic window:</label> 
					<select class="form-control" id="topicWindowsSelect" name="topicWindowsSelect"></select>
				</div>

				<table id="topicTable" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Topic label</th>
							<th>Edit</th>
							<th>Topics words</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
